*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mnbx{
    /* border:2px solid red; */
    display: flex;
    flex-direction: column;
    height: auto
}

.nvbr{
    font-family: 'ubuntu';
    font-weight: bold;
    color: white;
    background-color: blue;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.nvbr>ul{
    display: flex;
    gap: 2rem;
    

}

body{
    font-family: 'ubuntu';
    color: white;
    background:#212121;
}

body>table{
    border: 3px solid white;
    margin: 10% auto;
    /* table-layout: fixed; */
    border-radius: 20px;
    border-collapse: collapse;

}
table > tr,th,td {
  
    padding: 12px;
    background-color: rgba(186, 233, 233, 0.103);
}
tr:nth-child(odd){
   
    border-top: 2px solid white;
    background-color: rgba(27, 27, 27, 0.349);
}

tr:active{ background-color: rgba(29, 133, 133, 0.418);

}
ul>li{
    list-style: none;
    cursor: pointer;
    
}
li:hover{
    color: rgb(179, 210, 255);
}
.sctnz{
    height:100vh;
    border:1px solid rgb(26, 29, 236);

}

@media only screen and (max-width: 480px){
    .sctnz{
        background-color: rgb(247, 255, 133);
    
    }
     
}